# node_modules is huge, never push this
node_modules/

dist/
dist-ssr/

# secret keys 
.env
.env.local
.env.production

# vite cache
.vite/

# logs
*.log
npm-debug.log*

# OS files (not needed)
.DS_Store
Thumbs.db

# editor stuff
.vscode/*
.idea/
*.suo
*.sw?
